
@{
    ViewBag.Title = "GeneralInformation";
}
<html>
    <head>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div class="jumbotron">
            <h2>Transactions</h2>
        </div>

        <div class="row">
            <div class="col-md-12" style="background-color: #edeff1;">
                <br />

                @foreach (var item in ViewBag.Transactions)
                {
                    <table style="padding:2%;">
                        <thead>
                            <tr>
                                <th style=" border: 1px solid black;">Logo</th>
                                <th style=" border: 1px solid black;">TransactonID</th>
                                <th style=" border: 1px solid black;">Amount</th>
                                <th style=" border: 1px solid black;">Date</th>
                                <th style=" border: 1px solid black;">Description</th>
                                <th style=" border: 1px solid black;">SubcatagoryID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @{
                                    if (item.Img != null && item.Img.Contains("http"))
                                    {
                                        <td style=" border: 1px solid black;"><img src="@item.Img" alt="No Logo" width="42" height="42"></td>
                                    }
                                    else if (!item.Img.Contains("http"))
                                    {
                                        <td style=" border: 1px solid black;"><img src="~/Content/images/noLogo.jpg" alt="No Logo" width="42" height="42"></td>
                                    }
                                }
                                <td style=" border: 1px solid black;">@item.TransactionID</td>
                                <td style=" border: 1px solid black;">@item.Amount</td>
                                <td style=" border: 1px solid black;">@item.Date</td>
                                <td style=" border: 1px solid black;">@item.Description</td>
                                <td style=" border: 1px solid black;">@item.SubCat</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                                    }

                @Html.ActionLink("Show Json-Data", "Json", "HomeController")
            </div>

        </div>


        @ViewBag.json
    </body>
</html>

