<div class="jumbotron">
    <h1>Fetch Transactions</h1>
    <p class="lead">Desciption Goes here</p>
</div>
<div class="row">

@foreach (var item in ViewBag.Transactions)
{
    <table style="padding:2%;">
        <thead>
            <tr>
                <th style=" border: 1px solid black;">TransactonID</th>
                <th style=" border: 1px solid black;">Amount</th>
                <th style=" border: 1px solid black;">Date</th>
                <th style=" border: 1px solid black;">Description</th>
                <th style=" border: 1px solid black;">SubcatagoryID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style=" border: 1px solid black;">@item.TransactionID</td>
                <td style=" border: 1px solid black;">@item.Amount</td>
                <td style=" border: 1px solid black;">@item.Date</td>
                <td style=" border: 1px solid black;">@item.Description</td>
                <td style=" border: 1px solid black;">@item.SubCat</td>
                <td>
                    @using (Html.BeginForm("DeleteCommand", "Home", FormMethod.Post, new { id = "submitForm" }))
                    {
                        <button type="submit" id="btnDelete" name="Command" value="@item.TransactionID">Delete</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("UpdateCommand", "Home", FormMethod.Post, new { id = "submitForm" }))
                    {
                        <button type="submit" id="btnUpdate" name="Command" value="@item.TransactionID">Update</button>
                    }
                </td>

            </tr>
        </tbody>
    </table>
}
    @*<div class="col-md-4">
        <h2>HeadLine</h2>
        <p>Desciption Goes here</p>
    </div>
    <div class="col-md-4">
        <h2>HeadLines</h2>
        <p>Description goes here</p>
        
    </div>
    <div class="col-md-4">
        <h2>Headline</h2>
        <p>Description goes here</p>
    </div>*@
</div>
